.App {
  text-align: center;
}

.home-container{
  /*background-color: grey;*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.home-button{
  background-color: white;
  width: 60%;
}
.home-cart{
  background-color: white;
  margin: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  width: 40%;
}

.home-button button{
  width: 20%;
    height: 5vh;
    background-color: rgb(15, 49, 15);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: bold;
    margin-top: 2vh;
}